body {
    font-family: "Courier New", Courier, monospace;

    background: $dark;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    padding: 20px 0;
    margin: 0;

    color: $yellow;
}

.wrapper {
    max-width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    border: 1px solid $yellow;
    background: $dark;
    color: $yellow;

    scale: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
        scale: 0.95;
        cursor: pointer;
    }
}
