.page-commandes {
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;

    h1 {
        text-align: center;
    }

    .content {
        display: flex;
        width: 100%;

        #commande-create {
            background: $background;
            border-radius: 20px;
            padding: 20px 50px;

            width: 40%;

            .liste-boisson {
                .boisson {
                    display: flex;
                    justify-content: space-between;

                    .boisson-name {
                        font-size: 20px;
                        color: $yellow;
                    }

                    .boisson-number {
                        height: 50px;
                        background: $dark;
                        color: $yellow;
                        font-size: 20px;

                        border-color: $yellow;
                    }
                }
            }
        }
    }
}
