.page-table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-table form{
    display: flex;
    flex-direction: column  ;
    align-items: center;
}

.page-table label{
    font-size: 20px;
    color: var(--yellow);
}

.page-table .inputs{
    margin-bottom: 30px;
}

.page-table .inputs .input{
    width: 30%;
    height: 50px;
    line-height: 40px;
    font-size: 36px;
}

.page-table .show-data{
    margin-top: 50px;
    width: calc(100% - 40px);
}

.page-table .show-data table{
    border: 1px solid var(--yellow);
    color: var(--yellow);
    width: 100%;
}

.page-table .show-data table caption{
    color: var(--yellow);
}

.page-table .show-data table td{
    width: 33%;
}