.page-boisson{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-boisson form{
    display: flex;
    flex-direction: column  ;
    align-items: center;

    margin-bottom: 30px;
}

.page-boisson label{
    font-size: 20px;
    color: var(--yellow);
}

.page-boisson .inputs{
    margin-bottom: 30px;
}

.page-boisson .inputs .input{
    width: 30%;
    height: 50px;
    line-height: 40px;
    font-size: 36px;
}

.page-boisson .inputs .input-suppr{
    width: 100%;
    height: 50px;
    line-height: 40px;
    font-size: 36px;
}

.page-boisson .show-data{
    margin-top: 50px;
    width: calc(100% - 40px);
}

.page-boisson .show-data table{
    border: 1px solid var(--yellow);
    color: var(--yellow);
    width: 100%;
}

.page-boisson .show-data table caption{
    color: var(--yellow);
    margin-bottom: 20px;
}

.page-boisson .show-data table td{
    width: 20%;
}

.page-boisson .show-data table td form{
    margin: 0;
}

.page-boisson .show-data table .prix{
    text-align: end;
}